.About-Me {
  margin-top: 2.5%;
  margin-left: 40px;
  padding: 20px;

  width: 60%;
  height: 90%;
  overflow: hidden;
}

.About-Me-Container {
  float: left;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.About-Me-Container > img {
margin: auto 0 auto 0;
  height: 400px;
}

.About-Me-Description > h1 {
    text-shadow: 4px 4px rgb(172, 216, 212);
    padding: 0;
    margin-top: 0;
    font-size: 40px;
    min-width: 100%;
}

.About-Me-Description {
    margin: auto 0 auto 0;
  height: 400px;
  margin-left: 30px;
  padding: 0 20px 0 20px;
  width: 55%;
  overflow: hidden;
  font-size: 20px;
  text-align: justify ;
}

.About-Me-Description > a {
    font-weight: 700;
    text-decoration: none;
    width: 20%;
    
    font-weight: 600;
    margin: 5px 20px 5px 0;
    padding: 5px;
    float: left;
    text-align: center;
    color: black;
    border: 1px solid rgb(224, 224, 224);;
}

.About-Me-Description > a:hover {
    background: transparent;
    color: black;
    border: 1px solid black;

  }



@media (max-width: 1000px) {
    .About-Me {
        width: 100%;
        padding: 0;
        margin: 0 auto 0 auto;
    }
    .About-Me-Container {
        width: 95%;
        height: auto;
        margin: 2%;
        display: block;
        margin-top: 30px;
    }

    .About-Me-Container >img {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .About-Me-Description > h1 {
        text-align: center;
        margin-top: 30px;
    }

    .About-Me-Description, .About-Me-Description > h1{
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
    .About-Me {
        height: auto;
        width: 100%;
    }
}