.ProjectPanel {
  font-family: 'Karla', sans-serif;
  position: relative;
  background: rgba(211, 211, 211, 0.404);
  width: 90%;
  height: 75%;
  padding: 20px;

  margin: auto;

  display: grid;
  grid-template-rows: [title] 15% [tools-used] 15% [description-row] 30% [site-link] 10%;
  grid-template-columns: [description-col] 40% [image] 60%;
  grid-gap: 10px 10px;
  overflow: hidden;

  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.Project-Title {
  font-size: 25px;
  hyphens: auto;
  justify-content: center;
  margin-top: 0;
  grid-area: title/ description-col / span 1 / span 1;
}

.Project-Image {
  display: inline-block;
  grid-area: title/ image / site-link / span 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.helper-to-center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Project-Image >img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  vertical-align: middle;
}

.Tools-Used {
  width: 100%;
  height: 100%;
  padding: 2px;
  font-weight: 700;

  font-size: 15px;
  grid-area: tools-used / description-col / description-row / span 1;
}

.Tools-Used >span {
  font-weight: bold;
}

.ProjectPanel-Description {
  grid-area: description-row / description-col / -1 / span 1;
  width: 95%;
  height: 90%;
  padding: 5px;
  margin-left: 5px;
  color: black;

  font-size: 14px;
  text-align: justify;
  hyphens: auto;
  font-weight: 600;

  
}

.Site-Link,
.Github-Link {
  display: block;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  width: 40%;
  grid-area: site-link / image / span 1 / span 1;
  text-decoration: none;

  font-weight: bold;
  color: rgb(77, 76, 76);
  background: white;
  border: 1px solid rgb(77, 76, 76);
}

.View-Code {
  grid-area: view-code / image / span 1 / span 1;
  background: rgba(255, 255, 255, 0.336);
  font-weight: bold;
}

.Site-Link:hover,
.Github-Link:hover,
.View-Code:hover {
  border: 1px solid white; 
  color: white;
  background: rgb(77, 76, 76);
}

@media (max-width: 600px) {
  .ProjectPanel {
    width: 80%;
    margin: 5%;
    display: block;
    min-height: 80vh;
  }
}
