.Project-Description {
  width: 90%;
  
  margin-left: auto;
  margin-right: auto;
  padding: 20px;


  background: rgba(255, 255, 224, 0.712);
}

.Project-Description-Header,
.Toggle-Current-Ideas {
  background: lightyellow;
  margin-top: 0px;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.Project-Description-Header > h2{
  font-size: 30px;
  margin: 0;
  text-shadow: 2px 3px white;
}

.Project-Description > ul {
  text-align: left;
  color: rgb(37, 37, 37);
}

.Project-Description > ul > li {
  margin-bottom: 5px;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5px;
  border-top: 1px dotted black;
}
.Project-Description > ul > li > ul {
  list-style: disc;
}

@media (max-width: 768px) {
    
  .Project-Description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
